<ion-view title="Lihat Data" id="page4" style="background-color:#EBEFD5;">
  <ion-content padding="true" class="has-header" >
   <ion-refresher
			pulling-text="tarik untuk refresh...."
			on-refresh	="doRefresh()">
	</ion-refresher>
    <ion-list id="lihatData-list1" ng-repeat="dA in dataListUang">
      <ion-item class="item-thumbnail-left" id="lihatData-list-item4" >
        <h2>{{dA.MataUang}}</h2>
        <h2>{{dA.nilai}}</h2>
        <button id="lihatData-button14" class="button button-positive button-small button-block button-outline" ng-click="Hapus(data.id)">Hapus</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>