<ion-view title="Login" id="page10">
  <ion-content padding="true" class="has-header">
  <form name="frmlogin" novalidate ng-submit="frmlogin.$valid && login(User)">
    <form id="login-form19" class="list">
      <div>
        <img src="img/O4G6EO83SSa6x3bi9Dsr_Login-512.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input21">
          <span class="input-label">Username</span>
          <input type="text" ng-model="User.nama" placeholder="" required minlength="4" maxlength="20" name="nama">
        </label>
        <label class="item item-input" id="login-input22">
          <span class="input-label">Password</span>
          <input type="password" ng-model="User.password" placeholder="" required minlength="4" max="30">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <input type="submit" value="Proses" class="button button-block button-positive" ng-disabled="!frmlogin.$valid">
      <div style="margin-right:-20px;">
        <!-- <a ui-sref="signup" id="login-button18" style="left:-10px;" class="button button-stable  button-full button-clear">Or create an account</a> -->
      </div>
    </form>
  </ion-content>
</ion-view>