<ion-view title="Proses Konversi" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="prosesKonversi-form12" class="list">
      <label class="item">{{dataU.id}}</label>
      <label class="item">{{dataU.MataUang}}</label>
      <label class="item">{{dataU.nilai}}</label>
      <label class="item item-input" id="prosesKonversi-input10">
        <span class="input-label">Rp : </span>
        <input type="text" placeholder="input Nominal">
      </label>
    </form>
    <button id="prosesKonversi-button12" class="button button-positive  button-block icon ion-arrow-graph-up-right"> Konversi</button>
    <form id="prosesKonversi-form16" class="list">
      <label class="item item-input" id="prosesKonversi-input13">
        <span class="input-label">Result : </span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>