<ion-view title="TambahData" id="page3" style="background-color:#F6EDEF;">
  <ion-content padding="true" class="has-header">
    <form name="frmadd" novalidate ng-submit="frmadd.$valid && tambahData(userMatkul);">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="ID" ng-model="userMatkul.id"  required minlength="2" maxlength="7" >
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Uang" ng-model="userMatkul.MataUang"  required minlength="2" maxlength="7" >
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Nilai" ng-model="userMatkul.nilai" name="nilai" required minlength="2">
      </label>
      <input type="submit" value="Proses" class="button button-block button-positive" ng-disabled="!frmadd.$valid">
    </form>
</ion-view>