<ion-view title="Konversi ke  Rupiah" id="page2" style="background-color:#E6F1E7;">
  <ion-content padding="true" class="has-header">
    <form id="konversiKeRupiah-form7" class="list kelasNominal">
      <label class="item item-input" id="konversiKeRupiah-input6" name="namaNominal">
        <input type="text" placeholder="Input Nominal">
      </label>
    </form>
    <form id="konversiKeRupiah-form9" class="list">
      <label class="item item-select" id="konversiKeRupiah-select3" name="mataUang">
        <span class="input-label">Mata Uang</span>
        <select>
          <option>yen</option>
          <option>real</option>
          <option>dollar</option>
        </select>
      </label>
    </form>
    <a ui-sref="kontrolTab.listUang" id="konversiKeRupiah-button7" class="button button-positive  button-block">Mata Uang</a>
    <button id="konversiKeRupiah-button9" class="button button-balanced  button-block icon ion-android-sync"> Konversikan</button>
    <form id="konversiKeRupiah-form10" class="list">
      <label class="item item-input" id="konversiKeRupiah-textarea2" name="hasilKonversi">
        <span class="input-label">hasil</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>