<ion-view title="Tambah Data" id="page3" style="background-color:#F6EDEF;">
  <ion-content padding="true" class="has-header">
    <form id="tambahData-form11" class="list">
      <label class="item item-input" id="tambahData-input7">
        <span class="input-label">Nama Mata Uang</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="tambahData-input8">
        <span class="input-label">Nominal</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="tambahData-input11">
        <span class="input-label">gambar</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="tambahData-button10" class="button button-assertive  button-block">Tambahkan</button>
  </ion-content>
</ion-view>